<!-- topbar.component.html -->
<div class="topbar">
  <div class="left">
    <div class="search-wrapper">
      <input type="text" placeholder="Search your menu here..." />

      <button class="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <div class="right">
    <div class="profile">
      <img src="https://i.pravatar.cc/40" />
      <div>
        <strong>Courtney Henry</strong>
        <small>Cashier | 1st Shift</small>
      </div>
    </div>
  </div>
</div>
